
.containers {
  position: relative;
  text-align: center;
  color: white;
  padding: 30px;
}

.d-grid {padding-bottom: 30px;}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: white;
}


p {
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #648359;
  color: white;
  width: 100%;
}

.card {margin-bottom: 30px;}

body { background-color: #white; }

h1 {text-align: center;}

.nav-item:hover {
	background-color: #e2e2e2;
}
